#NOS VA A YUDAR A SETEAR CIERTAS CONFIGURACION PARA QUE APACHE LAS ENTIENDA, PARA ESTE CASO PARA LAS REDIRECCIONES
# NOS VA A AYUDAR A QUE LAS DIRECCIONES DEL NAVEGADOR NO SEA index.php?route=/admin
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?route=$1

#public/admin